<div class="add-user-container">
    @if (isViewMode) {
        <h1>VIEW SERVICE</h1>
    } @else if (isEditMode) {
        <h1>EDIT SERVICE</h1>
    } @else {
        <h1>ADD SERVICE</h1>
    }
    

    <div class="main-content">
        <form #userForm="ngForm" (ngSubmit)="onSave()">

            <div class="form-container">

                <div class="input-container title">
                    <label for="title">Title</label>
                    <input type="text" name="title" [(ngModel)]="service.title" placeholder="Title" [disabled]="isViewMode" required>
                </div>

                <div class="input-container">
                    <label for="client">Client</label>
                    <input type="text" list="clientList" name="client" [(ngModel)]="service.client.companyName" (change)="onClientChange($event)" placeholder="Search client" [disabled]="isViewMode" required>
                    <datalist id="clientList">
                        @for (c of clients; track c.idClient) {
                            <option [value]="c.companyName">{{ c.firstName }} {{ c.lastName }}</option>
                        }
                    </datalist>
                </div>

                <div class="input-container">
                    <label for="requestType">Request Type</label>
                    <select name="requestType" id="requestType" [(ngModel)]="service.requestType" [disabled]="isViewMode">
                        <option value="CONTRACT">Contract</option>
                        <option value="PURCHASE_ORDER">Pruchase order</option>
                    </select>
                </div>

                <div class="input-container">

                    <label for="start-date">Start date</label>
                    <input type="date" name="startDate" placeholder="01/01/2026" [(ngModel)]="service.startDate" [disabled]="isViewMode" required>

                </div>

                <div class="input-container">

                    <label for="end-date">End date</label>
                    <input type="date" name="endDate" placeholder="31/01/2026" [(ngModel)]="service.endDate" [disabled]="isViewMode" required>

                </div>

                <div class="input-container description">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" [(ngModel)]="service.description" placeholder="Description" [disabled]="isViewMode" required></textarea>
                </div>

            </div>

            @if (isEditMode) {
                <button type="submit" class="add-button" [disabled]="!userForm.form.valid">Save Changes</button>
            } @else if (!isViewMode) {
                 <button type="submit" class="add-button" [disabled]="!userForm.form.valid">Add</button>
            } @else {
                <button 
                    type="button" 
                    class="add-button" (click)="goBack()">
                    Back to List
                </button>
            }

        </form>
    </div>
</div>